{% extends 'base.html.twig' %}

{% block title %}Mes Vacataires{% endblock %}

{% block body %}
<div class="container mt-4">
{% for message in app.flashes('success') %}
<div class="alert alert-dismissible alert-success mt-4">
{{ message }}
</div>
{% endfor %}
    <h1>Mes Vacataires</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for vacataire in vacataires %}
            <tr>
                <td>{{ vacataire.id }}</td>
                <td>{{ vacataire.nom }}</td>
                <td>
                <a href="{{ path('vacataire_edit', {'id': vacataire.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {# Affichage des contrôles de pagination #}
    <div class="navigation">
        {{ knp_pagination_render(vacataires) }}
    </div>
</div>
{% endblock %}